/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    background-color: #1F2937;
}


/* Container for limiting content width */
.container {
    width: 70%;
    margin: auto;
}

/* Navbar styles */
nav.container {
    min-height: 50px;
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: space-between;
    padding: 10px 0;
    margin-bottom: 40px;
    margin-top: 40px;
}


ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

/* Hero section */
.hero {
    background-color: #1F2937; /* Background color of hero section */
    color: white;
    padding: 50px 0;
    width: 100vw; /* Full width of the screen */
}

.hero .container {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between content and image */
    align-items: center;
}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.8);
}

.hero-content button {
    background-color: #4a90e2;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 8px;

}

.hero-image img {
    max-width: 100%;
    height: auto;
    width: 600px;
}

/* Section styles */
.section-one {
    background-color: #E5E7EB; /* Light gray background for section one */
    padding: 50px 0;
    width: 100vw; /* Full width of the screen */
}

.section-two {
    background-color: #F59E0B; /* Orange background for section two */
    padding: 50px 0;
    width: 100vw; /* Full width of the screen */
}

.section-three {
    background-color: #10B981; /* Green background for section three */
    padding: 50px 0;
    width: 100vw; /* Full width of the screen */
}

/* Footer */
footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .hero .container {
        flex-direction: column; /* Stack text and image vertically on small screens */
        text-align: center;
    }

    .hero-content {
        max-width: 100%;
    }

    .hero-image {
        margin-top: 20px;
        max-width: 100%;
    }
}
